.sidebarC { 
    background-color:#505050; 
    color: white;
    position:relative;

    header { 
        position:relative;
        background-color: #690800;
        height:110px; 
        font-size:1.25rem;
        margin:0 -15px;

        .imgText {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            left:12%;
        }

        .profileImg {
            border: 3px solid white;
        }

        header p { 
            display:inline;
            padding-left:10px;
        }
    }

    .sNav { 
        font-size:1.45rem; 
        i, span { margin-right:10px;}
        
        ul { 
            margin: 5px -15px 0; 

            li { margin-top:13px; padding:12px 0 12px 14%; }
            li:hover { background-color:#333; cursor:pointer; color:white; }
        }
    }
}